/* ContactForm.moduole.css */
.formstyle {
  padding: 24px;
  background-color: #f0f8ff;
  border: 2px solid #2f4f4f;
  border-radius: 10px;
  width: 300px;
}

.label {
  margin-bottom: 10px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 7px;
}

.input:hover {
  background-color: #b0c4de8c;
  box-shadow: 0 5px 10px -1px #33333340;
}

.input:focus {
  background-color: #b0c4de8c;
  box-shadow: 0 5px 10px -1px #33333366;
}

.button {
  margin-top: 10px;
  background-color: #b0c4de66;
  border: 3px solid #2f4f4f;
  border-radius: 10px;
  padding: 5px 20px;
}

.button:hover {
  background: #b0c4de;
  box-shadow: 0 5px 10px -1px #33333340;
}
